{
  "tabWidth": 2,
  "printWidth": 80,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "proseWrap": "preserve"
      }
    },
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["*.json", "*.jsonc"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
